section.about
    .container
        .about__wrap
            h3.subtitle About Us
            h2.title.about__title We Believe in Organic
                br
                | Foods For Strong Health
            p.text.about__text Welcome to the world of natural and organic. Here you can discover the bounty of nature. We have grown on the principles of health, and care. We aim to give our customers a healthy chemical-free meal for perfect nutrition.
            .benefits
                img.benefits__img(src="../img/food.svg" alt="food")
                span.benefits__subtitle Organic Foods Only
                p.text.benefits__text The Product that you ordered will be verified that we have or 
                    br
                    | not if have we will start to move on with the next step.
            .benefits
                img.benefits__img(src="../img/post.svg" alt="post")
                span.benefits__subtitle Quality Standards
                p.text.benefits__text Once your product is packed it will be delivered to your 
                    br
                    | nearby locality you can directly visit the to buy the product.
            button.button.button--about.button--color shop now
                span.arrow-wrap
                    img.arrow(src="../img/arrow.svg" alt="arrow")