section.cards
    .container
        .cards__wrap
            a.card(href="#")
                h3.subtitle.cards__subtitle Natural!!
                p.cards__text Get Garden
                    br
                    | Fresh Fruits
            a.card(href="#")
                h3.subtitle.cards__subtitle Offer!!
                p.cards__text Get 10% off
                    br
                    | on Vegetables