section.categories
    .container.container__categories
        ul.categories__block
            li.categories__item
                a.categories__link(href="#")
                    span.categories__text Fruit Juice
            li.categories__item
                a.categories__link(href="#")
                    span.categories__text Organic Food
            li.categories__item
                a.categories__link(href="#")
                    span.categories__text Nuts Cookies