section.eco
    .container.container__eco
        .eco__wrap
            h3.subtitle Eco Friendly
            h2.title.title__eco From our Farm 
                br
                | to your Home.
            .eco__description
                h4.eco__description-title Choose Your Products
                p.eco__description-text In our listing, we have several collections of organic products. This is 
                    br
                    | the place where you need to choose the product you want.
            .eco__description
                h4.eco__description-title Farmers will produce it
                p.eco__description-text The Product that you ordered will be verified that we have or not if 
                    br
                    | have we will start to move on with the next step.
            .eco__description
                h4.eco__description-title We Can Delivery too
                p.eco__description-text If you are not comfortable going to the nearby market place we also 
                    br
                    | will deliver your product to your doorstep.