footer.footer
    .container
        .footer__wrap
            .footer__contacts
                h3.footer__title Contact Us
                h5.footer__subtitle Email
                a.footer__contacts-link(href="mailto:needhelp@organick.com").email__text needhelp@organick.com
                h5.footer__subtitle Phone
                a.footer__contacts-link(href="tel:+123(1254)1452").phone__text 123 (1254) 1452
                h5.footer__subtitle Address
                a.footer__contacts-link(href="https://goo.gl/maps/P9ancCnn4d2yAJ3f6" target="_blank").address__text 88 Road, Brooklyn Street, USA
            .footer__socials
                a.logo(href="#")
                    img(src="../img/logo.svg" alt="logo")
                p.footer__text We are a popular and farming company aspiring to be a leader
                    br
                    | in the Organic food industry.
                .footer__icons
                    a(href="#").footer__icons-wrap
                        img.icon(src="../img/fb.svg" alt="fb")
                    a(href="#").footer__icons-wrap
                        img.icon(src="../img/li.svg" alt="li")
                    a(href="#").footer__icons-wrap
                        img.icon(src="../img/inst.svg" alt="inst")
                    a(href="#").footer__icons-wrap
                        img.icon(src="../img/pin.svg" alt="pin")
            .footer__utility
                h3.footer__title Utility Pages
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") Style Guide
                    li.footer__item
                        a.footer__link(href="#") Protected
                    li.footer__item
                        a.footer__link(href="#") Page Not Found
                    li.footer__item
                        a.footer__link(href="#") Changelog
                    li.footer__item
                        a.footer__link(href="#") Licenses