section.form
    .form__wrap
        .container.container__form
            .form__row
                .form__title Subscribe our 
                    br
                    | Newsletter
                input.form__email(type="email" name="email" placeholder="Enter your email address")
                button.button.button--form.button--color Subscribe
                    span.arrow-wrap
                        img.arrow(src="../img/arrow.svg" alt="arrow")