section.hero
    .container.container__hero
        .hero__wrap
            h3.subtitle.hero__subtitle Made with nature
            h1.hero__title Welcome to the world of nature and organic.
            button.button.button--hero Explore Now
                span.arrow-wrap
                    img.arrow(src="../img/arrow.svg" alt="arrow")