section.offer
    .container.container__offer
        h3.subtitle Offer Products
        .offer__row
            h2.title.offer__title We Offer Organic for You
            button.button.button--offer.button--glow View All products
                span.arrow-wrap
                    img.arrow(src="../img/arrow.svg" alt="arrow")
        ul.products
            li.products__item.product__item--size.products__item--glow
                a.products__card(href="#")
                    span.products__category Vegetable
                    img.products__img(src="../img/tomato.png" alt="tomato")
                    span.products__name Vegan Red Tomato
                    .products__price
                        span.products__old-price $ 14.00 USD
                        span.products__new-price $ 9.37 USD
                        img.products__rating(src="../img/stars.svg" alt="stars")
            li.products__item.product__item--size.products__item--glow
                a.products__card(href="#")
                    span.products__category Fruits
                    img.products__img(src="../img/almonds.png" alt="almonds")
                    span.products__name Organic Almonds
                    .products__price
                        span.products__old-price $ 21.00 USD
                        span.products__new-price $ 18.00 USD
                        img.products__rating(src="../img/stars.svg" alt="stars")
            li.products__item.product__item--size.products__item--glow
                a.products__card(href="#")
                    span.products__category Vegetable
                    img.products__img(src="../img/corn.png" alt="corn")
                    span.products__name Fresh Corn
                    .products__price
                        span.products__old-price $ 21.23 USD
                        span.products__new-price $ 18.00 USD
                        img.products__rating(src="../img/stars.svg" alt="stars")