section.products
    .container
        .products__wrap
            h3.subtitle.products__subtitle.subtitle--center Organic
            h2.title.products__title.title--center Our Products
            ul.products__gallery
                li.products__item
                    a.products__card(href="#")
                        span.products__category Vegetable
                        img.products__img(src="../img/broccoli.png" alt="broccoli")
                        span.products__name Calabrese Broccoli
                        .products__price
                            span.products__old-price $ 25.00 USD
                            span.products__new-price $ 21.00 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")
                li.products__item
                    a.products__card(href="#")
                        span.products__category Vegetable
                        img.products__img(src="../img/corn.png" alt="corn")
                        span.products__name Fresh Corn
                        .products__price
                            span.products__old-price $ 21.23 USD
                            span.products__new-price $ 18.00 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")
                li.products__item
                    a.products__card(href="#")
                        span.products__category Millets
                        img.products__img(src="../img/pistachio.png" alt="pistachio")
                        span.products__name Dried Pistachio
                        .products__price
                            span.products__old-price $ 61.00 USD
                            span.products__new-price $ 48.00 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")
                li.products__item
                    a.products__card(href="#")
                        span.products__category Vegetable
                        img.products__img(src="../img/tomato.png" alt="tomato")
                        span.products__name Vegan Red Tomato
                        .products__price
                            span.products__old-price $ 14.00 USD
                            span.products__new-price $ 9.37 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")
                li.products__item
                    a.products__card(href="#")
                        span.products__category Fruits
                        img.products__img(src="../img/almonds.png" alt="almonds")
                        span.products__name Organic Almonds
                        .products__price
                            span.products__old-price $ 21.00 USD
                            span.products__new-price $ 18.00 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")
                li.products__item
                    a.products__card(href="#")
                        span.products__category Millets
                        img.products__img(src="../img/hazelnut.png" alt="hazelnut")
                        span.products__name Brown Hazelnut
                        .products__price
                            span.products__old-price $ 43.00 USD
                            span.products__new-price $ 34.00 USD
                            img.products__rating(src="../img/stars.svg" alt="stars")