section.testimonial
    .container.container__testimonial
        h3.subtitle.testimonial__subtitle.subtitle--center Testimonial
        h2.title.testimonial__title.title--center What Our Customer Saying?
        img.consumer-pic(src="../img/consumer.jpg" alt="consumer")
        img.stars(src="../img/big-stars.svg" alt="big-stars")
        p.text.testimonial__text.text--center The quality of organic produce is extremely high, the service is second to none and the taste of the food 
            br
            | takes me back to my childhood when we were growing our own.
        span.consumer-name Sara Taylor
        span.user-type Consumer
        .testimonial__circles
            .circle
                .green-frame
                    .white-frame
                        span.first-line 100%
                        span.second-line Organic
            .circle
                .green-frame
                    .white-frame
                        span.first-line 285
                        span.second-line Active Product
            .circle
                .green-frame
                    .white-frame
                        span.first-line 385+
                        span.second-line Organic Orchads
            .circle
                .green-frame
                    .white-frame
                        span.first-line 25+
                        span.second-line Years of Farming